<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Os Planetas do Universo</title>
    <link rel="stylesheet" href="{{ site.baserul }}/css/common.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Planetas do Universo</h1>
            {% include nav.html  navclass='nav-pills' %}
        </header>
        {{ content }}
        <footer>
            {% include nav.html navclass='nav-justified' %}
            <p>2015 - Planetas do Universo</p>
        </footer>

    </div>
</body>
</html>